.basicMap {
  width: 600px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 'a b c' 'd e f' 'g h i' 'j k l';
}

.basicMapBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  grid-area: a;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: black;
  background-color: #d9d9d9;
}
